@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
}
body{
  background-color:#f5f5f5;
    font-family: 'Inter';
  
}

.no-scroll{
  overflow: hidden;
}
.custom-hover:hover{
  background-color: #3b49df1a;
  color: #3b4edf;

}



.icon-container .icon{
  color: #404040;
}

.icon-container:hover .icon{
color: #3b4edf;
}



